{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Selamat datang, {{ request.user.username }}</span>
        <a class="nav-link" href="{% url 'main:logout' %}">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>
</nav>
<div class="container">
    <h1>Welcome to Peternakan Gacor!</h1>
    <h4>Peternakan terbaik se-kukusan</h4>
    <br>

    {% for product in products %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Nama Barang:</h5>
            <p class="card-text">{{ product.name }}</p>
            <h5 class="card-title">Deskripsi Barang:</h5>
            <p class="card-text">{{ product.description }}</p>
            <h5 class="card-title">Jumlah Barang:</h5>
            <p class="card-text">{{ product.amount }} buah</p>
        </div>
    </div>
    {% endfor %}

    <div class="text-center">
        <a href="{% url 'main:create_items' %}">
            <button class="btn btn-primary">Add New Items</button>
        </a>
    </div>

    <div class="text-center mt-4">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <h5>Muhammad Yusuf Haikal PBP F 22060801490</h5>
    </div>
</div>
{% endblock content %}